<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="LecturerClaimsDBConnection"
			 connectionString="Server=labG9AEB3\MSSQLSERVER01;Database=LecturerClaimsDB;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>